---
layout : default
title  : Computing for Mathematics
---

<div class="home">

    <h1>Lab Sheets</h1>
    <ul>
    {% for page in site.pages %}
        {% if page.categories contains 'labsheets' %}
        <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <h1>Getting help</h1>
    <ul>
        <li><a href="https://youtu.be/Qf1Mu1hJZJ4">Video about solving problems/getting help </a></li>
        <li><a href='{{site.baseurl}}/Handouts'>Read past handouts</a></li>
        <li>There are discussion boards on each lab sheet (don't be shy)</li>
        <li><a href='https://github.com/drvinceknight/Computing_for_mathematics/wiki'>Class Wiki</a></li>
        <li><a href="https://gitter.im/drvinceknight/Computing_for_mathematics">Chat room</a></li>
        <li><a href="href=mailto:knightva@cf.ac.uk">Email me</a></li>
        <li>My office (M1.30) hours are: Friday 1500-1700</li>
        <li><a href='{{site.baseurl}}/Other/AlternativeResources'>Alternative resources</a></li>
    </ul>

    {% if false %}
    <h1>Lab Sheets Solutions</h1>
    <ul>
    {% for page in site.pages %}
        {% if page.categories contains 'solutions' %}
        <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}

    <h1><a href='{{site.baseurl}}/Handouts'>Handouts</a></h1>
    <ul>
    {% for page in site.pages %}
        {% if page.categories contains '2015-2016' %}
        <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>


    <h1><a href='{{site.baseurl}}/Assessment'>Assessment</a></h1>

    <h1><a href='{{site.baseurl}}/Other/AlternativeResources'>Alternative Resources</a></h1>


    <h1><a href='http://cardiffmathematicscodeclub.github.io/'>Code Club</a></h1>

    <h1><a href='{{site.baseurl}}/Enterprise'>Enterprise (Spring Semester)</a></h1>
</div>
